/*normalize css*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-image: url('https://raw.githubusercontent.com/bocacode/node-api-json-coffees/main/coffee-beans-bk.webp');
  Background-size: 'cover';
  background-repeat: 'no-repeat';
  text-align: 'center';

}


.menu-items__> img {
  border-radius:1em;
  max-height: 40px;
  
}

.menu-items__> img:hover {
border-radius:1em;
max-height: 40px;


}